@import '../../../styles/variables.css';

.NewsletterSignUpForm {
  padding: 1rem 1rem 2rem 1rem;

  &-Title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &_SubmitButton {
    display: inline-block;
  }
}
